{# Macro for rendering a card with icon, header, description, and button #}
{% macro render_card(header, description, icon, url, button_text, external=False) %}
<div class="ui card shadowless">
  <div class="content">
    <h3 class="header">{{ header }}</h3>
    <p class="description">
      {{ description }}
    </p>
    <div class="card-icon">
      <i class="huge {{ icon }} icon"></i>
    </div>
    <a
      class="ui button right labeled icon bordered"
      href="{{ url }}"
      {% if external %}
        target="_blank" rel="noopener noreferrer"
        aria-label="{{ button_text }} - {{ _('Open external link') }}"
      {% endif %}
    >
      {{ button_text }}
      <i class="{% if external %}external alternate{% else %}angle right{% endif %} icon"></i>
    </a>
  </div>
</div>
{% endmacro %}
