<footer id="page-footer-element">
  <div class="footer-nav ui container">
    <div class="footer-left">
      <a target="_blank" rel="noopener noreferrer" href="https://www.cesnet.cz/sdruzeni/dokumenty/oou/" class="block">{{ _('Personal data processing information') }}</a>
    </div>
    <div class="footer-right">
      <a target="_blank" rel="noopener noreferrer" href="https://docs.nrp.eosc.cz/en/docs/end_users/catch-all-data-repository/catch-all-repository-introduction" class="block">{{ _('Documentation') }}</a>
      <a href="mailto:nrp-repo_L3@eosc.cz" class="block">{{ _('Contact') }}</a>
    </div>
  </div>
</footer>


